# Спрятанные переменные и пароли
.env
env/

# Виртуальное окружение
.venv/
venv/

# Кэш Python
__pycache__/
*.pyc

# База данных (боевые данные и локальные тесты не должны лететь в Git)
radiobox.db

# Папка с бэкапами (ты настроил их создание в server.py)
backups/

/shelf/
/workspace.xml

certbot/